WatchApp/bin
WatchApp/release
AndroidApp/local.properties
AndroidApp/.gradle
AndroidApp/app/release
AndroidApp/app/.gradle/config.properties
AndroidApp/app/local.properties
AndroidApp/keystore.properties
AndroidApp/app/google-services.json
AndroidApp/gradlew.bat
AndroidApp/gradlew
AndroidApp/gradle/wrapper/gradle-wrapper.jar
AndroidApp/.kotlin/sessions
WatchApp/jungle-prod
WatchApp/manifest-prod.xml
